if standAlone
	link(rel="stylesheet",href="/styles/layout.css")
	link(rel="stylesheet" href="/styles/coinData.css")
	script(src="/scripts/jquery.js")
	script(src="https://code.highcharts.com/highcharts.js")

script.
	var coin#{coin.code} = !{JSON.stringify(coin)};

table(border="0",cellpadding="4",cellspacing="0").table
	tr
		th Name
		th Code
		th USD
		th BTC
		th Hour
		th Day
		th Week
	tr
		td #{coin.name}
		td #{coin.code}
		td $#{addCommas(coin.usd)}
		td $#{addCommas(coin.btc)}
		- upOrDown = coin.historic.h < 0? 'red' : ''
		td(class="#{upOrDown}") #{addCommas(coin.historic.h)}%
		- upOrDown = coin.historic.d < 0? 'red' : ''
		td(class="#{upOrDown}") #{addCommas(coin.historic.d)}%
		- upOrDown = coin.historic.w < 0? 'red' : ''
		td(class="#{upOrDown}") #{addCommas(coin.historic.w)}%
	tr
		td(colspan="7")
			div(id="chart#{coin.code}")
if !standAlone
	.botones
		.cerrar(onclick="delItem('#{coin.code}');") x
else
	div(style="text-align:right;font-weight:100;") CryptoAlerter.tk&nbsp;

script.
	var max = 0
	var i = 0;
	for(i=0; i<coin#{coin.code}.data.length; i++){
		max = Math.max(coin#{coin.code}.data[i][1],max);
	}
	var min = max;
	var last4R = coin#{coin.code}.data.slice(-4)
	var avg = last4R.slice(0,3).map(function(e,k){
		return e[1];
	}).reduce(function(p,c){
		return p+c;
	})/4;
	var color = 'rgba(249,243,51,0.2)';
	if(last4R[last4R.length-1][1]>avg) color='rgba(63,191,63,0.2)';
	if(last4R[last4R.length-1][1]<avg) color='rgba(191,63,63,0.2)';
	var last4 = last4R.map(function(e){
		return e[0];
	});
	for(i=0; i<coin#{coin.code}.data.length;i++){
		min = Math.min(coin#{coin.code}.data[i][1],min);
	}
	Highcharts.setOptions({
		global: {
			useUTC: false
		}
	});
	
	$("#chart"+coin#{coin.code}.code).highcharts({
		chart: {
			height: 150,
			zoomType: 'x'
		},
		title: {
			text: ""
		},
		xAxis: {
			type: 'datetime',
			labels: {
				formatter: function () {
					return Highcharts.dateFormat('%H:%M', this.value);
				}
			},
			tickInterval: 10*60*1000,
			plotBands: [{
				color: color,
				from: last4[0],
				to: last4[3]
			}],
		},
		yAxis: {
			title: {
				text: ''
			},
			plotLines: [
				{
					id: 'limit-min',
					color: '#FF0000',
					dashStyle: 'ShortDash',
					width: 1,
					value: min,
					zIndex: 0,
					label : {
						text : '$'+min+' USD'
					}
				},{
					id: 'limit-max',
					color: '#008000',
					dashStyle: 'ShortDash',
					width: 1,
					value: max,
					zIndex: 0,
					label : {
						text : '$'+max+' USD'
					}
				}
			]
		},
		legend: {
			enabled: false
		},
		credits: {
			enabled: false
		},
		plotOptions: {
			line: {
				animation: false
			}
		},
		series: [{
			type: 'line',
			name: coin#{coin.code}.code+" to USD",
			data: coin#{coin.code}.data
		}]
	});